 <!-- Activities section -->
 <section>
    <div class="activities--wrapper">

      <div class="top-wrapper pt-10 relative text-5xl font-bold">
        <h2 class="absolute left-1/2">
          Activities
        </h2>
        <div class="absolute left-1/2 underliness"></div>
      </div>

      <div class="bot-wrapper pt-5 flex">
        <div class="bot-item w-1/3 flex justify-center">
          <div>
            <div class="flex justify-center">
              <div class="item-logo grid place-items-center">
                <img src="../../../../assets/activities/left-logo.svg" alt="product design webinars">
              </div>
            </div>
            <div class="item-content">
              <p class="flex justify-center text-2xl font-bold" style="color: #4285F4; margin-top: 50px;">
                Product Design Webinars
              </p>
              <div class="item-content-bot text-2xl flex justify-center">
                <p style="width: 55%; margin-left: 20px;">
                  A series of Webinars to help participants scope the problems, refine UI/UX, and improve
                  their ideas and final products.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bot-item w-1/3 flex justify-center">
          <div>
            <div class="flex justify-center">
              <div class="item-logo grid place-items-center">
                <img src="../../../../assets/activities/mid-logo.svg" alt="technical workshops">
              </div>
            </div>
            <div class="item-content">
              <p class="flex justify-center text-2xl font-bold" style="color: #4285F4; margin-top: 50px;">
                Technical Workshops
              </p>
              <div class="item-content-bot text-2xl flex justify-center">
                <p style="width:60%; margin-left: 20px;">
                  A series of workshops from Nov 2020 to February 2021 on Android Development, Machine
                  Learning, and Web development to help train students on product development.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bot-item w-1/3 flex justify-center">
          <div>
            <div class="flex justify-center">
              <div class="item-logo grid  place-items-center">
                <img src="../../../../assets/activities/right-logo.svg" alt="demo day">
              </div>
            </div>
            <div class="item-content">
              <p class="flex justify-center text-2xl font-bold" style="color: #4285F4; margin-top: 50px;">
                Demo Day
              </p>
              <div class="item-content-bot text-2xl flex justify-center">
                <p style="width:70%; margin-left: 50px;">
                  Live stream of pitching and judging for top 10 finalists, plus community voting for best
                  projects.

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End activities section -->