 <!-- People section -->
 <section class="people--wrapper duration-300 my-16">
    <div class="people--container">
      <div class="section--container mb-5 text-center">

        <h3 class="inline-block text-5xl text-black font-bold px-4 pb-1 people__title">Judges / Speakers / Mentors / Facilitators

        </h3>
      </div>
      <div class="section--container p-10 h-full flex items-center flex-wrap people__card--container">
        <div class="people__card justify-items-center p-5">
          <img class="w-32 h-32 mx-auto rounded-full" alt=""
            src="https://thebfsclub.co.uk/assets/img/avatar-female-1.jpg" />
          <h3 class="font-black text-center my-3">Hieu Hoa Hong</h3>
          <p class="text-center">Paris Bao-Chau Tran Territory Account Manager Vietnam Google Cloud
          </p>
        </div>
        <div class="people__card justify-items-center p-5 xs-hidden">
          <img class="w-32 h-32 mx-auto rounded-full" alt=""
            src="https://thebfsclub.co.uk/assets/img/avatar-female-1.jpg" />
          <h3 class="font-black text-center my-3">Hieu Hoa Hong</h3>
          <p class="text-center">Paris Bao-Chau Tran Territory Account Manager Vietnam Google Cloud
          </p>
        </div>
        <div class="people__card justify-items-center p-5 md-hidden">
          <img class="w-32 h-32 mx-auto rounded-full" alt=""
            src="https://thebfsclub.co.uk/assets/img/avatar-female-1.jpg" />
          <h3 class="font-black text-center my-3">Hieu Hoa Hong</h3>
          <p class="text-center">Paris Bao-Chau Tran Territory Account Manager Vietnam Google Cloud
          </p>
        </div>
        <div class="people__card justify-items-center p-5 xl-hidden md-hidden">
          <img class="w-32 h-32 mx-auto rounded-full" alt=""
            src="https://thebfsclub.co.uk/assets/img/avatar-female-1.jpg" />
          <h3 class="font-black text-center my-3">Hieu Hoa Hong</h3>
          <p class="text-center">Paris Bao-Chau Tran Territory Account Manager Vietnam Google Cloud
          </p>
        </div>
        <div
          class="people__nextButton people-button flex justify-center items-center rounded-full h-12 w-12 bg-gray-400">
          <i class="fas fa-angle-left text-white text-3xl "></i>
        </div>
        <div
          class="people__prevButton people-button flex justify-center items-center rounded-full h-12 w-12 bg-blue-500">
          <i class="fas fa-angle-right text-white text-3xl "></i>
        </div>
      </div>

    </div>
  </section>
  <!-- End people -->
