.about-hackathon__title {
    background-image: url('../../../../assets/about-hackathon/title-underline.svg');
    background-repeat: no-repeat;
    background-size: 320px 1rem;
    background-position-x: center;
    background-position-y: bottom;
  }
  .about-hackathon__item {
    height: 200px;
    width: calc(50% - 0.25rem);
  }
  .about-hackathon__item--backdrop {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.3);
  }
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) {
    .about-hackathon__item {
      width: 100%;
    }
  }
  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {
    .about-hackathon__item {
      height: 240px;
    }
  }
