<div class="section--container p-10 h-full flex flex-col justify-center items-center flex-wrap">
  <div class="accompanying__card-row text-center">
    <h4 class="font-bold">Organization</h4>
    <div class="accompanying__item--container flex items-center">
      <div class="accompanying__card__item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
      <div class="accompanying__card-item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
    </div>
  </div>
  <div class="accompanying__card-row text-center">
    <h4 class="font-bold">Diamond sponsorship</h4>
    <div class="accompanying__item--container flex flex-wrap justify-center items-center">
      <div class="accompanying__card__item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
    </div>
  </div>
  <div class="accompanying__card-row text-center">
    <h4 class="font-bold">Gold sponsorship</h4>
    <div class="accompanying__item--container flex flex-wrap justify-center items-center">
      <div class="accompanying__card__item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
      <div class="accompanying__card-item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
    </div>
  </div>
  <div class="accompanying__card-row text-center">
    <h4 class="font-bold">Silver sponsorship</h4>
    <div class="accompanying__item--container flex flex-wrap justify-center items-center">
      <div class="accompanying__card__item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
      <div class="accompanying__card-item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
      <div class="accompanying__card__item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
    </div>
  </div>
  <div class="accompanying__card-row text-center">
    <h4 class="font-bold">Partners</h4>
    <div class="accompanying__item--container flex flex-wrap justify-center items-center">
      <div class="accompanying__card__item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
      <div class="accompanying__card-item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
      <div class="accompanying__card__item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
    </div>
  </div>
  <div class="accompanying__card-row text-center">
    <h4 class="font-bold">Media protection</h4>
    <div class="accompanying__item--container flex flex-wrap justify-center items-center">
      <div class="accompanying__card__item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
      <div class="accompanying__card-item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
      <div class="accompanying__card__item m-5">
        <img
          src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/105284095_193614888642357_1398338380549821311_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=bh3_v4kJAgwAX-_az-5&_nc_ht=scontent-hkg4-1.xx&oh=9c2bea71a91dbd022d756cc18a4afb94&oe=60114B2E"
          class="rounded-full h-32 w-32" alt="" />
      </div>
    </div>
  </div>