 <!--  -->
 <div class="h-12"></div>
<!-- Footer section -->
 <footer>
    <div class="footer-section">
      <div class="footer-container">
        <img src="../../../../assets/logo.svg" alt="logo" class="footer-logo">
        <p class="footer-text">About DSC</p>
        <p class="footer-text">DSC Online Hackathon</p>
        <p class="footer-text">Timeline</p>
        <p class="footer-text">Activities</p>
        <p class="footer-text">Mentor & Speaker</p>
      </div>
    </div>
  </footer>
  <!-- End footer section -->