<!-- Statistic numbers section -->
<section class="statistic__container" id="statistic">
    <div class="statistic--background">
    </div>
    <div class="statistic--wrapper">
        <div class="statistic__detailed--wrapper">
            <p class="statistic__number">~25,000</p>
            <p class="statistic__description">Students from 15 universities across Vietnam</p>
        </div>
        <div class="statistic__detailed--wrapper">
            <p class="statistic__number">50,000</p>
            <p class="statistic__description">Fans on Facebook</p>
        </div>
        <div class="statistic__detailed--wrapper">
            <p class="statistic__number">12,000+</p>
            <p class="statistic__description">Reach via Email blasts</p>
        </div>
        <div class="statistic__detailed--wrapper">
            <p class="statistic__number" style="text-align: center;">20+</p>
            <p class="statistic__description">Online media including IT news sites, event pages, blogs Youtube and Facebook
                channels or partner
                community</p>
        </div>
    </div>
</section>
 <!-- End statistic numbers -->