<!-- About section -->
<section class="section--container duration-300">
    <div class="flex h-full duration-300 about-dsc--container">
      <div class="about-dsc__left-content--wrapper h-full flex flex-col items-center">
        <div class="w-full text-left mb-5">
          <h3 class="inline-block text-3xl text-gray-800 font-bold pr-8 pb-1 about-dsc__title">
            Developer Student Clubs
          </h3>
        </div>
        <!-- about-dsc image wrapper -->
        <div class="w-full">
          <img class="w-full" src="../../../../assets/about-dsc/bg-about-dsc.png" alt="DSC about-dsc image">
        </div>
      </div>
      <div class="about-dsc__right-content--wrapper">
        <!-- Content wrapper -->
        <div class="about-dsc__content--wrapper">
          <!-- Main about-dsc content -->
          <div class="w-full">
            <h2 class="text-xl text-blue-600 mb-5 font-bold">
              <span i18n="about-dsc | A header for About DSC">
                About DSC
              </span>
              <span class="inline-block h-2 w-16 mb-1 ml-3"
                style="background-image: linear-gradient(to right, rgb(85, 95, 240) , #ffffff00);"></span>
            </h2>
            <h3 class="text-3xl text-gray-800 mb-8 font-bold" i18n="about-dsc | Help students bridge the gap be tween theory and practice">
              Help students bridge the gap be tween theory and practice
            </h3>
            <p class="text-xl text-gray-600 duration-300" i18n="about-dsc | Developer Student Clubs (DSC) are university based community groups for students
              interested in Google developer technologies">
              <strong>Developer Student Clubs (DSC)</strong> are university based community groups for students
              interested in Google developer technologies. Students from all undergraduate or
              graduate programs with an interest in growing as a developer are welcome.
            </p>
            <a href="" target="_blank" class="inline-block text-xl text-blue-600 mt-3" i18n="about-dsc | See more">See more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="h-12"></div>
  <!-- End about section -->